/* description */
#banner{
    border: solid 1px black;
    width: 90%;
    margin: auto;
    height: 300px;
}

#perfil{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    position: relative;
    bottom: 100px;
    background-color: black;
    padding: 10px;
}

.container-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#perfil-foto{
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: gold;
}
/* description */
/* barra de nav */
